@charset "utf-8";

body {
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "メイリオ", serif;
    font-size: 9pt;
    padding: 0.5em;
    line-height: 1.9;
}

h1 {
    font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", sans-serif;
    font-size: 2em;
    color: rgb(64, 64, 64);
    margin-bottom: 2ex;
    border-left: solid 6px rgb(64, 64, 128);
    border-bottom: solid 1px rgb(64, 64, 128);
    padding-left: 0.2em;
}

h2 {
    font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
}

h3 {
    font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", sans-serif;
    font-size: 1.2em;
    margin-bottom: 0;
}

h4 {
    font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    border-top: dotted 1px rgb(64, 64, 128);
}

p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2ex;
    margin-bottom: 2ex;
}

blockquote p, p.noindent, div.license p {
    text-indent: 0;
}

p.flushright { /* 署名 */
    font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
    font-size: 1.1em;
    line-height: 1.3;
    text-align: right;
    text-indent: 0;
    margin-right: 1em;
    margin-bottom: 1ex;
}

b, strong {
    font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
}

div.lead {
    text-align: right;
    padding-bottom: 0.5ex;
    border-bottom: dotted 1px rgb(220, 220, 255);
}

div.lead p {
    text-indent: 0;
    font-style: italic;
    font-size: 0.9em;
    margin-right: 2em;
}

a.footnotemark {
    vertical-align: super;
    font-size: 0.9em;
}

div.footnote {
    font-size: 0.9em;
    background-color: rgb(240, 240, 240);
    padding: 0.2ex;
}

div.footnote p {
    text-indent: -2em;
    margin-left: 2em;
}

div.cover {
    text-align: center;
}

div.cover img {
    max-height: 90%;
}

h1.tp-title {
    font-size: 2.5em;
    border-left: none;
    border-bottom: none;
    padding-left: 0;
    text-align: center;
    margin-top: 4ex;
    margin-bottom: 6ex;
}

h2.tp-author {
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "メイリオ", serif;
    font-style: italic;
    font-size: 1.8em;
    text-align: right;
    margin-right: 4em;
}
